@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

.edit-container {
    background: var(--eerie-black-2);
    border: 1px solid var(--jet);
    border-radius: 20px;
    padding: 15px;
    box-shadow: var(--shadow-1);
    z-index: 1;
    width: 700px;
    display: flex;
    margin: auto;
    margin-top: 50px;
}

.edit-form-container {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
}

.edit-input {
    color: var(--white-2);
    font-size: var(--fs-6);
    font-weight: var(--fw-400);
    padding: 20px 20px 20px 20px;
    border: 1px solid var(--jet);
    border-radius: 14px;
    outline: none;
    margin-bottom: 15px;
    width: 500px;
}

.menu-bar {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
}

.nav-button {
    color: #FFCC67;
    font-size: var(--fs-6);
    font-weight: var(--fw-400);
    padding: 20px 20px 20px 20px;
    border: 1px solid var(--jet);
    border-radius: 14px;
    outline: none;
}

.nav-button:hover {
    color: var(--eerie-black-2);
    background-color: #FFCC67;
    font-family: "Archivo", sans-serif;
}

.nav-button {
    transition: all 0.3s ease-in-out;
}

.arrow{
    width: 20px;
    height: auto;
}

.edit-label-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.edit-line{
    background: var(--text-gradient-yellow);
    border-radius: 3px;
    width: 40px;
    height: 5px;
}

.edit-label{
    color: white;
    font: 2em sans-serif;
    font-weight: 100;
    font-family: var(--ff-poppins);
}

.edit-sublabel{
    color: #FFCC67;
    font: 1.3em sans-serif;
    text-decoration: underline;
    font-weight: 100;
    font-family: var(--ff-poppins);
    margin: auto;
    margin-bottom: 30px;
    margin-top: 40px;
}