<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/style.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">


    <title>Edit information</title>
</head>
<body>
    <div class="edit-container">
        <div class="edit-form-container">
            <div class="edit-label-wrapper">
                <div class="edit-label">Редактирование информации
                    <div class="edit-line"></div>
                </div>
                <div class="edit-sublabel">Обо мне</div>
            </div>
            <form action="">
                <input class="edit-input" placeholder="ФИО" type="text">
                <input class="edit-input" placeholder="Профессия" type="text">
                <input class="edit-input" placeholder="Локация" type="text">
                <input class="edit-input" placeholder="Email" type="email">
                <input class="edit-input" placeholder="Телефон" type="text">
                <input class="edit-input" placeholder="Дата рождения" type="text">
            </form>
            <div class="menu-bar">
                <button class="nav-button" type="button"><img class="arrow" src="https://img.icons8.com/?size=100&id=102172&format=png&color=FFCC67" alt=""></button>
                <button class="nav-button" type="submit">Сохранить</button>
                <button class="nav-button" type="button"><img class="arrow" src="https://img.icons8.com/?size=100&id=99982&format=png&color=FFCC67" alt=""></button>
            </div>
        </div>
    </div>
</body>
</html>