<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/style.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">


    <title>Edit information</title>
</head>
<body>
    <div class="edit-container">
        <div class="edit-form-container">
            <div class="edit-label-wrapper">
                <div class="edit-label">Редактирование информации
                    <div class="edit-line"></div>
                </div>
                <div class="edit-sublabel">Текст обо мне</div>
            </div>
            <!-- Форма Обо мне -->
            <form action="" style="display: none;">
                <input class="edit-input" placeholder="ФИО" type="text">
                <input class="edit-input" placeholder="Профессия" type="text">
                <input class="edit-input" placeholder="Локация" type="text">
                <input class="edit-input" placeholder="Email" type="email">
                <input class="edit-input" placeholder="Телефон" type="text">
                <input class="edit-input" placeholder="Дата рождения" type="text">
            </form>
            <!-- Форма текст обо мне -->
            <form action="" style="display: none;">
                <input style="height: 400px;" class="edit-input" placeholder="О себе" type="text">
            </form>
            <!-- Форма с плитками деятельности -->
             <div class="edit-plate">
                <form action="">
                    <input class="edit-input" placeholder="О себе" type="text">
                    <input class="edit-input" placeholder="О себе" type="text">
                    <input class="edit-input" placeholder="О себе" type="image">
                </form>
             </div>
            <div class="menu-bar">
                <button class="nav-button" type="button"><</button>
                <button class="nav-button" type="submit">Сохранить</button>
                <button class="nav-button" type="button">></button>
            </div>
        </div>
    </div>
</body>
</html>